div#Welcome {
    font-family: var(--font);
    width: 70vw;
    margin: 60px auto;
    background: var(--itemBg);
    box-shadow: 0 0 5px var(--Shadow);
    border-radius: 10px;
    padding: 5px 10px;
    min-height: 100px;
}

div#Welcome h2 {
    text-align: center;
    text-decoration: underline;
}

div#Welcome p {
    color: var(--text);
}