div#Links {
    display: flex;
    background: var(--itemBg);
    width: 90vw;
    padding: 15px 0;
    margin: 10vh auto;
    border-radius: 10px;
    box-shadow: 0 0 7px var(--Shadow);
    border: 2px solid var(--blue);
}

div#Sidebar {
    background: var(--bg);
    margin: 2.5%;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--Shadow);
    border: 2px solid var(--blue);
    width: max-content;
    padding: 10px 40px;
    height: max-content;
}

div#Sidebar ul {
    text-align: left;
    color: var(--text);
    width: max-content;
    margin: 0 auto;
}

div#Sidebar ul h1 {
    text-align: center;
    text-decoration: underline;
}
div#LinkArea {
    /* Theese are for backround to link area */
    /* background: var(--bg);
    box-shadow: 0 0 5px var(--Shadow);
    border: 2px solid var(--blue);
    border-radius: 10px; */
    margin: 0 auto;
    width: 60vw;
}

div#LinkArea h2 {
    margin: 10px 0;
    text-align: center;
    text-decoration: underline;
}

div#LinkArea p {
    color: var(--text);
}

div#LinkArea p.LinkGategoryDescription {
    font-size: larger;
}

div#LinkArea a {
    display: block;
    color: var(--link);
    font-size: larger;
    margin-top: 10px;
}
/* Add link */
div#AddLink {
    margin: 0 20px 0 0;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--blue);
    box-shadow: 0 0 10px var(--Shadow);
    width: 20vw;
    height: max-content;
    display: none;
    text-align: center;
    background: var(--bg);
}

div#AddLink h2 {
    text-decoration: underline;
}

div#AddLink input {
    padding: 5px;
    width: 95%;
    border-radius: 20px;
    border: none;
    margin: 5px 0;
}

div#AddLink button {
    width: 7vw;
    height: 40px;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    color: var(--text);
}

@media only screen and (max-width: 768px) {
    div#Links {
        display: block;
    }
    div#Sidebar {
        margin: 0 auto;
    }

    div#LinkArea {
        margin: 0 auto;
        width: 90%;
    }
    div#AddLink {
        margin: 20px auto;
        width: 55vw;
    }
}

@media only screen and (min-width: 768px) {

    div#LinkArea {
        margin: 0 auto;
        width: 60%;
    }
}

@media only screen and (min-width: 1366px) {
    div#LinkArea {
        margin: 0 auto;
        width: 70%;
    }
}

@media only screen and (min-width: 1920px) {
    div#LinkArea {
        margin: 0 auto;
        width: 80%;
    }
}