* {
    margin: 0;
    padding: 0;
}

:root {
    --bg: #505050;
    --itemBg: #636363;
    --text: #fff;
    --blue: #006eff;
    --font: 'Courier New';
    --Shadow: #006eff;
    --link: #4897ff;
    --green: green;
    --red: red;
}

body {
    background: var(--bg);
}

h2 {
    color: var(--text);
}


/* Allow and deny button */
button.allow {
    background: var(--green);
}

button.deny {
    background: var(--red);
}
/* Allow and deny button ends */

h1.Mainheader {
    color: var(--text);
    font-size: xx-large;
    text-decoration: underline;
    font-family: var(--font);
    margin: 0 2vw;
}

nav {
    width: 100vw;
    background: var(--itemBg);
    border-bottom: 2px solid var(--blue);
    display: flex;
    align-items: center;
}

nav div {
    display: inline-flex;
}

nav div img {
    display: none;
    width: 20px;
    height: 20px;
    margin: auto 20px auto auto; 
}

nav ul {
    margin: 0 2vw 0 auto;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: var(--text);
    font-family: var(--font);
    padding: 5px;
}

nav ul li a:hover {
    font-size: large;
    background-color: var(--bg);
}

/* Styling nav bar for mobile */
@media only screen and (max-width: 768px) {
    nav {
        display: block;
        border: none;
    }

    nav div {
        border-bottom: 2px solid var(--blue);
        width: 100vw;
    }

    nav div h1{
        text-align: center;
    }

    nav div img {
        display: flex;
    }

    nav ul {
        display: none;
        width: 80%;
        margin: 10px auto;
    }

    nav ul li {
        padding: 5px 0;
        display: block;
    }

    nav ul li a {
        font-size: 25px;
        font-weight: 500;
        font-family: sans-serif;
    }

    nav ul li a:hover {
        font-size: 30px;
    }
}

div#Cookies {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50px;
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--blue);
    box-shadow: 0 0 5px var(--Shadow);
    padding: 10px;
    background: var(--itemBg);
    width: max-content;
}

div#Cookies h2 {
    text-decoration: underline;
}

div#Cookies p {
    color: var(--text);
}

div#Cookies button {
    width: 100%;
    height: 40px;
    margin: 5px 0;
    color: var(--text);
    border-radius: 5px;
    border: none;
}